ion-title {
    text-align: center;
    padding-right: 20%;
    font-size: xx-large;
    
}

.welcome {
    margin-bottom: 2%;
}

hr {
    border-bottom: 1px solid white;
    padding-top: 2%;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center; 
    font-size: xx-large; 
}

.article {
    margin-bottom: 2%;
    padding: 0;
    text-align: justify;
}

h3 {
    margin: 0;
    padding-bottom: 2%;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}