<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='expenses'>
      </ion-back-button>
    </ion-buttons>
    <ion-title><strong>Information</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
       <div class="welcome">
        <h1>Easy Expense</h1>
       </div>
       <hr>

       <div class="article">
        <h3>About</h3>
        <p>
          Welcome to the Easy Expense App. Created by Richard Pascoe as part of the JHUB
          Coding Scheme, Module 2 Assignment.
        </p>
       </div>
       <hr>

       <div class="article">
         <h3>How it Works</h3>
         <p>
           You will open on the 'Expenses Log' page. 
           This is where you can view each expense you
           have created.
         </p>
         <br>
         <p>
           Each expense item shows you the title or name 
           of the trip, course, event etc. that you attended. 
           It keeps track of the total you are claiming for and
           shows a brief description, along with the date.
         </p>
         <br>
         <p>
           Clicking the plus icon, in the top right, will 
           start a new expense claim. You will need to fill
           out a few details and then confirm, upon which you 
           will be able to see that new claim under any others.
         </p>
         <br>
         <p>
           Clicking on the expense item, will take you into that 
           expense detail page. This is where you can view all of the receipts
           you will be claiming, under that expense. You will also see the 
           total of all receipts and a button to delete the expesne.
         </p>
         <br>
         <p>
           Each receipt will have it's own item where it will display
           where the receipt came from, what type of claim it is, the amount
           and the issue date. It will also display a photo of that receipt.
         </p>
         <br>
         <p>
           You can add a new receipt by clicking the plus icon, in the
           top right corner. Fill out all the information, exaclty as 
           it appears on the receipt and then take a picture to prove it. 
           Once submitted, this receipt will be present on the expense detail
           page. clicking the cross will cancel the creation and take you back.
         </p>
         <br>
         <p>
           By clicking on the receipt item, you can edit the information, 
           in case you made a mistake. Click submit to confirm any changes. 
           Or clicking away will simply return you to the expense detail. 
           Here you also have a delete button, to remove that receipt.
         </p>
         <br>
         <p>
           Now you have all of your claims in one place, and sorted by 
           trip. I hope this helps you organise yourself a little better. 
           Or makes claiming back the expendature smoother.
         </p>
       </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
